@import "tailwindcss";

/* Custom theme (brand colors, layout colors) */
@theme {
    --color-brand: #e84b67;
    --color-brand-hover: #f26c85;
    --color-sidebar-light: #f9fafb;
    --color-sidebar-dark: #111827;
    --color-content-light: #f3f4f6;
    --color-content-dark: #1f2937;
    --color-tabs-light: #e5e7eb;
    --color-tabs-dark: #374151;
    --color-text-light: #111827;
    --color-text-dark: #d1d5db;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --font-sans: "Inter", sans-serif;
    --default-font-family: "Inter", sans-serif;
}

@layer base {
    html {
        font-family: var(--font-sans);
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
